flows.json
[
    {
        "id": "d8ac5029a2571bab",
        "type": "tab",
        "label": "SBMS0",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a4483ff9452125ea",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.48",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "342ae5e1.a2feca",
        "type": "ui_tab",
        "name": "Ella",
        "icon": "tv",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9cf1e8b8202e424f",
        "type": "ui_group",
        "name": "battery V",
        "tab": "342ae5e1.a2feca",
        "order": 5,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": "font10"
    },
    {
        "id": "dbf247658fd28145",
        "type": "ui_group",
        "name": "temps",
        "tab": "342ae5e1.a2feca",
        "order": 6,
        "disp": false,
        "width": "4",
        "collapse": false,
        "className": "font10 level"
    },
    {
        "id": "ef26f360d17ffbe2",
        "type": "ui_group",
        "name": "draw",
        "tab": "342ae5e1.a2feca",
        "order": 2,
        "disp": false,
        "width": "5",
        "collapse": false,
        "className": "font10"
    },
    {
        "id": "c4b7ed610a9d4ce8",
        "type": "ui_group",
        "name": "SBMS -Loads",
        "tab": "342ae5e1.a2feca",
        "order": 3,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": "font10 guage led",
        "info": "<style>\n{\n    font-size:12;\n}"
    },
    {
        "id": "a266c46f642e3692",
        "type": "ui_group",
        "name": "LPG Water Inc",
        "tab": "342ae5e1.a2feca",
        "order": 4,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": "font10 "
    },
    {
        "id": "5b6eade5be302dd2",
        "type": "ui_group",
        "name": "graphs",
        "tab": "342ae5e1.a2feca",
        "order": 7,
        "disp": false,
        "width": "33",
        "collapse": false,
        "className": "font10"
    },
    {
        "id": "15ec5d23b47d7187",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f52692dff117bbbe",
        "type": "mqtt-broker",
        "name": "MQTTBroker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "355c6165c04046a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.37",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9cd84f9e06fae9bc",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Verdana,Verdana,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 24,
                "sy": 24,
                "gx": 1,
                "gy": 1,
                "cx": 6,
                "cy": 12,
                "px": 3,
                "py": 3
            }
        }
    },
    {
        "id": "a05e991a1b08d5e3",
        "type": "ui_tab",
        "name": "Electrodacus",
        "icon": "tv",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "300a3123dbf7e579",
        "type": "ui_group",
        "name": "Delta",
        "tab": "a05e991a1b08d5e3",
        "order": 7,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c051dcee7b125585",
        "type": "ui_group",
        "name": "CellBars",
        "tab": "a05e991a1b08d5e3",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "35ef824ac58a17ba",
        "type": "ui_group",
        "name": "Daily Highs andLows",
        "tab": "a05e991a1b08d5e3",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "0b5f7cc1cc00d868",
        "type": "ui_group",
        "name": "LED's",
        "tab": "a05e991a1b08d5e3",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "79ffb8ba2979ebc3",
        "type": "ui_group",
        "name": "AlternatorStatus",
        "tab": "a05e991a1b08d5e3",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "38e7a3ce705c8c24",
        "type": "ui_group",
        "name": "Group 10",
        "tab": "a05e991a1b08d5e3",
        "order": 10,
        "disp": true,
        "width": 6
    },
    {
        "id": "c8a59089519eaac6",
        "type": "ui_group",
        "name": "Group 11",
        "tab": "a05e991a1b08d5e3",
        "order": 11,
        "disp": true,
        "width": 6
    },
    {
        "id": "ae887e64feb5f727",
        "type": "ui_group",
        "name": "Group 12",
        "tab": "a05e991a1b08d5e3",
        "order": 12,
        "disp": true,
        "width": 6
    },
    {
        "id": "8915712f879561ff",
        "type": "ui_spacer",
        "z": "d8ac5029a2571bab",
        "name": "spacer",
        "group": "ef26f360d17ffbe2",
        "order": 7,
        "width": "5",
        "height": "1"
    },
    {
        "id": "61117434c9cfe73c",
        "type": "ui_spacer",
        "z": "d8ac5029a2571bab",
        "name": "spacer",
        "group": "ef26f360d17ffbe2",
        "order": 10,
        "width": "5",
        "height": "1"
    },
    {
        "id": "df807fb925ad5c0d",
        "type": "ui_spacer",
        "z": "d8ac5029a2571bab",
        "name": "spacer",
        "group": "ef26f360d17ffbe2",
        "order": 13,
        "width": "5",
        "height": "1"
    },
    {
        "id": "d6d58039b1c5a576",
        "type": "ui_spacer",
        "z": "d8ac5029a2571bab",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": "4",
        "height": "1"
    },
    {
        "id": "eb27139a211dd3f2",
        "type": "ui_spacer",
        "z": "d8ac5029a2571bab",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": "8",
        "height": "1"
    },
    {
        "id": "69b97ec628701448",
        "type": "ui_spacer",
        "z": "d8ac5029a2571bab",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": "4",
        "height": "1"
    },
    {
        "id": "7acf7f71fbcb3341",
        "type": "ui_spacer",
        "z": "d8ac5029a2571bab",
        "name": "spacer",
        "group": "dbf247658fd28145",
        "order": 5,
        "width": "4",
        "height": "1"
    },
    {
        "id": "87c83b95aa5f4995",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "soc",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].soc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "c69a85f2090eed40"
            ]
        ]
    },
    {
        "id": "191a88483ecf2644",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "mv0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].cellsMV[0]",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "b57907435d50b1c2"
            ]
        ]
    },
    {
        "id": "cb3657a3a55fe789",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "mv1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].cellsMV[1]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "217873fa719bb1bd"
            ]
        ]
    },
    {
        "id": "18bef121082020a5",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "mv6",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].cellsMV[6]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "73c80db452dc9466"
            ]
        ]
    },
    {
        "id": "fb5eae48c87a6ce3",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "mv7",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].cellsMV[7]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "fa2be9ff2385b4e2"
            ]
        ]
    },
    {
        "id": "051c6c031eea1daf",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "cfet",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].flags.CFET",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 400,
        "wires": [
            [
                "aa7898720359fd8f"
            ]
        ]
    },
    {
        "id": "d305ce5926887b03",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "dfet",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].flags.DFET",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "e885d5583e19f3e2"
            ]
        ]
    },
    {
        "id": "2671605cf436c817",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "eoc",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].flags.EOC",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 480,
        "wires": [
            [
                "fdc794c79de3ed08"
            ]
        ]
    },
    {
        "id": "6593cde674734113",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "lvc",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].flags.LVC",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "45fd9d0bf5c61206"
            ]
        ]
    },
    {
        "id": "8f7ff14b552f857f",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "temp ext",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].tempExt",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 320,
        "wires": [
            [
                "8a7fa1e63400ed25"
            ]
        ]
    },
    {
        "id": "abcde85c0b3ebd9b",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "current bat",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].currentMA.battery",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 720,
        "wires": [
            [
                "829edb1cce5de596",
                "c368730c53f049e4"
            ]
        ]
    },
    {
        "id": "e7a857d0d836620d",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "pv1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].currentMA.pv1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 760,
        "wires": [
            [
                "2cf0a3fb552af68b",
                "c368730c53f049e4"
            ]
        ]
    },
    {
        "id": "cb24fba5e832c6fa",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "V1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 120,
        "wires": [
            [
                "e255f1e85581554c",
                "187cbfd653e8b610"
            ]
        ]
    },
    {
        "id": "6f3fa2b3873198bc",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "V2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 160,
        "wires": [
            [
                "e255f1e85581554c",
                "187cbfd653e8b610"
            ]
        ]
    },
    {
        "id": "fe3cf8ee5123253e",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "V7",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 200,
        "wires": [
            [
                "e255f1e85581554c",
                "187cbfd653e8b610"
            ]
        ]
    },
    {
        "id": "491e50e49dbf9b35",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "V8",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 240,
        "wires": [
            [
                "e255f1e85581554c",
                "187cbfd653e8b610"
            ]
        ]
    },
    {
        "id": "438dc64ceeeea6cb",
        "type": "mqtt in",
        "z": "d8ac5029a2571bab",
        "name": "SBMS0",
        "topic": "/Ella/sbms",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a4483ff9452125ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 460,
        "wires": [
            [
                "2afc6b919f8d132f",
                "60b940fd3206c092"
            ]
        ]
    },
    {
        "id": "2afc6b919f8d132f",
        "type": "debug",
        "z": "d8ac5029a2571bab",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 100,
        "y": 400,
        "wires": []
    },
    {
        "id": "c368730c53f049e4",
        "type": "join",
        "z": "d8ac5029a2571bab",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 630,
        "y": 500,
        "wires": [
            [
                "c7fc0bf79b36695a"
            ]
        ]
    },
    {
        "id": "e39c9e70cb2e1447",
        "type": "smooth",
        "z": "d8ac5029a2571bab",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "3",
        "mult": "multi",
        "reduce": true,
        "x": 640,
        "y": 120,
        "wires": [
            [
                "cb24fba5e832c6fa"
            ]
        ]
    },
    {
        "id": "ba9de80cc88e0fae",
        "type": "smooth",
        "z": "d8ac5029a2571bab",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "3",
        "mult": "multi",
        "reduce": true,
        "x": 640,
        "y": 160,
        "wires": [
            [
                "6f3fa2b3873198bc"
            ]
        ]
    },
    {
        "id": "211eee12b320721e",
        "type": "smooth",
        "z": "d8ac5029a2571bab",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "3",
        "mult": "multi",
        "reduce": true,
        "x": 640,
        "y": 200,
        "wires": [
            [
                "fe3cf8ee5123253e"
            ]
        ]
    },
    {
        "id": "db3e161ed946a626",
        "type": "smooth",
        "z": "d8ac5029a2571bab",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "3",
        "mult": "multi",
        "reduce": true,
        "x": 640,
        "y": 240,
        "wires": [
            [
                "491e50e49dbf9b35"
            ]
        ]
    },
    {
        "id": "8562f7f2edd82161",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "delta",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].flags.delta",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "33a97d857928b39b"
            ]
        ]
    },
    {
        "id": "ee0b4026ef4c019a",
        "type": "join",
        "z": "d8ac5029a2571bab",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 650,
        "y": 320,
        "wires": [
            [
                "4d4f4d76b7d53e18"
            ]
        ]
    },
    {
        "id": "b6045af4bb314d87",
        "type": "mqtt in",
        "z": "d8ac5029a2571bab",
        "name": "Pico",
        "topic": "/Ella/Pico/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a4483ff9452125ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 1100,
        "wires": [
            [
                "d95d45398184e956",
                "60b940fd3206c092"
            ]
        ]
    },
    {
        "id": "d95d45398184e956",
        "type": "debug",
        "z": "d8ac5029a2571bab",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 100,
        "y": 1160,
        "wires": []
    },
    {
        "id": "e56f0d0ec6ecfcd1",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "Starter Charger",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].current[\"Starter Charger\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1180,
        "wires": [
            [
                "90761abb515a946d",
                "058aa522ddfb7689"
            ]
        ]
    },
    {
        "id": "5dab7d600f3aa125",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "Lights & Fans",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].current[\"Lights & Fans\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1020,
        "wires": [
            [
                "90761abb515a946d",
                "aa7cd2e4fa8d61d8"
            ]
        ]
    },
    {
        "id": "91f54f76adc4247e",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "WiFi.Stereo.LPG.Pico",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].current[\"WiFi.Stereo.LPG.Pico\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1060,
        "wires": [
            [
                "90761abb515a946d",
                "706fed788259f7cb"
            ]
        ]
    },
    {
        "id": "ac6414e9ec440ae1",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "12V Front & Rear",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].current[\"12V Front & Rear\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1100,
        "wires": [
            [
                "90761abb515a946d",
                "07a09796c8a390dc"
            ]
        ]
    },
    {
        "id": "1d2a6adb7dfe4f17",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "12V Sides",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].current[\"12V Sides\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1140,
        "wires": [
            [
                "90761abb515a946d",
                "0fae4fc715b1f76e"
            ]
        ]
    },
    {
        "id": "465226a95f87c4af",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "Total",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].current.Total",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 1260,
        "wires": [
            [
                "cbaa8405dda36c48",
                "71d5c7f22d53988d"
            ]
        ]
    },
    {
        "id": "94901521d64c668c",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "Alarm & Relays",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].current[\"Alarm & Relays\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1220,
        "wires": [
            [
                "90761abb515a946d",
                "a09f98969c43af34"
            ]
        ]
    },
    {
        "id": "6d31350c75408037",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "Diesel Heater",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].current[\"Diesel heater\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 980,
        "wires": [
            [
                "90761abb515a946d",
                "9618ffc5c293e7fd"
            ]
        ]
    },
    {
        "id": "bb2075d75e0fdb72",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "Fridge",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].current.Fridge",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 940,
        "wires": [
            [
                "90761abb515a946d",
                "db1bc04c995c6b8f"
            ]
        ]
    },
    {
        "id": "90761abb515a946d",
        "type": "join",
        "z": "d8ac5029a2571bab",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "8",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 530,
        "y": 900,
        "wires": [
            [
                "93fb233b624595b1"
            ]
        ]
    },
    {
        "id": "e8b43721f47830f5",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "SOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].battery[\"Ella  \"].state_of_charge",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 1300,
        "wires": [
            [
                "dc7faa211ad27a36"
            ]
        ]
    },
    {
        "id": "c9b2c6384ede25df",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "Battery Mid T",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].temperature[\"Battery - Mid\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1540,
        "wires": [
            [
                "8e5d9bdb6d9cbeff"
            ]
        ]
    },
    {
        "id": "68c414aba995510b",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "V [Pico]",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].battery[\"Ella  \"].voltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1380,
        "wires": [
            [
                "f2753b6ef5fcf073"
            ]
        ]
    },
    {
        "id": "bc554999ce7d2df8",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "Temp Inside",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].temperature.Inside",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1460,
        "wires": [
            [
                "64dcfe612e129612"
            ]
        ]
    },
    {
        "id": "f5546b438ab9700a",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "Temp Alternator",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].temperature.Alternator",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1500,
        "wires": [
            [
                "574333602657a2eb"
            ]
        ]
    },
    {
        "id": "f5575943391e3562",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "Fridge Compr",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].temperature[\"Fridge C\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1580,
        "wires": [
            [
                "1e7d6b556621d389"
            ]
        ]
    },
    {
        "id": "21eb53bb4fc98c5d",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "Temp Outside",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].temperature.Outside",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1620,
        "wires": [
            [
                "7e7d0cfc3f89df03"
            ]
        ]
    },
    {
        "id": "e46d71c58ccea4d7",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "T Fridge Internal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].temperature[\"Fridge - Internal\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1660,
        "wires": [
            [
                "582fb5a3d5765ee7"
            ]
        ]
    },
    {
        "id": "b198648d81b5616e",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "R 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].temperature[\"SENSOR 2\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "e7c85c0af92c1f65",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "R 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].temperature[\"SENSOR 3\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "93b97c12a28b5046",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "R 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].temperature[\"SENSOR 4\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "6b2da850f49de327",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "Barometer",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].barometer",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1820,
        "wires": [
            [
                "6d5c342fcd87cedd"
            ]
        ]
    },
    {
        "id": "e4081372782e07f2",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "Pitch",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].inclinometer.pitch",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 1860,
        "wires": [
            [
                "3a8d6fe494a91d0f"
            ]
        ]
    },
    {
        "id": "cd643132dc4f9f33",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "Roll",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].inclinometer.roll",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 1900,
        "wires": [
            [
                "bbb29d2cf378c97b"
            ]
        ]
    },
    {
        "id": "6827778c128c80d6",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "V Starter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].battery.Starter.voltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1420,
        "wires": [
            [
                "a4945469bb04056f"
            ]
        ]
    },
    {
        "id": "1f331556184cdc92",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "LPG Tank %",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].tank.LPG.percentage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1940,
        "wires": [
            [
                "0fcf51329ec86766"
            ]
        ]
    },
    {
        "id": "cf90de8c4629cbc5",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "SOC Ah",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/Pico/\"].battery[\"Ella  \"].capacity_remaining",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1340,
        "wires": [
            [
                "db8968038c4bfc1d"
            ]
        ]
    },
    {
        "id": "0b74c571784eecf8",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "ovlk",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].flags.OVLK",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 560,
        "wires": [
            [
                "53555a0b9beb6a36"
            ]
        ]
    },
    {
        "id": "ec9871bf707d8545",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "uvlk",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].flags.UVLK",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 600,
        "wires": [
            [
                "52e832967910fcee"
            ]
        ]
    },
    {
        "id": "60b940fd3206c092",
        "type": "join",
        "z": "d8ac5029a2571bab",
        "name": "mqtt",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 120,
        "y": 860,
        "wires": [
            [
                "fb1d4a921d2977bb",
                "87c83b95aa5f4995",
                "e7a857d0d836620d",
                "abcde85c0b3ebd9b",
                "ec9871bf707d8545",
                "0b74c571784eecf8",
                "6593cde674734113",
                "2671605cf436c817",
                "d305ce5926887b03",
                "051c6c031eea1daf",
                "8f7ff14b552f857f",
                "fb5eae48c87a6ce3",
                "18bef121082020a5",
                "cb3657a3a55fe789",
                "191a88483ecf2644",
                "8562f7f2edd82161",
                "bb2075d75e0fdb72",
                "6d31350c75408037",
                "5dab7d600f3aa125",
                "91f54f76adc4247e",
                "ac6414e9ec440ae1",
                "1d2a6adb7dfe4f17",
                "e56f0d0ec6ecfcd1",
                "94901521d64c668c",
                "465226a95f87c4af",
                "e8b43721f47830f5",
                "cf90de8c4629cbc5",
                "68c414aba995510b",
                "6827778c128c80d6",
                "bc554999ce7d2df8",
                "f5546b438ab9700a",
                "c9b2c6384ede25df",
                "f5575943391e3562",
                "21eb53bb4fc98c5d",
                "e46d71c58ccea4d7",
                "b198648d81b5616e",
                "e7c85c0af92c1f65",
                "93b97c12a28b5046",
                "6b2da850f49de327",
                "e4081372782e07f2",
                "cd643132dc4f9f33",
                "1f331556184cdc92",
                "81cb2235c60fa27b",
                "9c162f73c83e31e6",
                "55e248869df8ef87",
                "2a97e39f29b1986b"
            ]
        ]
    },
    {
        "id": "fb1d4a921d2977bb",
        "type": "debug",
        "z": "d8ac5029a2571bab",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 120,
        "y": 820,
        "wires": []
    },
    {
        "id": "81cb2235c60fa27b",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "ext load",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].currentMA.extLoad",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "b3d191909d079959",
        "type": "delay",
        "z": "d8ac5029a2571bab",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 100,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "c67d858a7a79182d",
        "type": "join",
        "z": "d8ac5029a2571bab",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 530,
        "y": 840,
        "wires": [
            [
                "3fe7dc15982fa772",
                "8fcad83cff7b182a"
            ]
        ]
    },
    {
        "id": "55e248869df8ef87",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "celf",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].flags.CELF",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 640,
        "wires": [
            [
                "620a8e5dfd28fc2b"
            ]
        ]
    },
    {
        "id": "9c162f73c83e31e6",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "iot",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].flags.IOT",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 680,
        "wires": [
            [
                "1ebb2eaa7f2f8116"
            ]
        ]
    },
    {
        "id": "2a97e39f29b1986b",
        "type": "change",
        "z": "d8ac5029a2571bab",
        "name": "temp int",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"/Ella/sbms\"].tempInt",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "32065687648f2c7b"
            ]
        ]
    },
    {
        "id": "8fcad83cff7b182a",
        "type": "debug",
        "z": "d8ac5029a2571bab",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 680,
        "wires": []
    },
    {
        "id": "9258b9e391bc74e1",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "9cf1e8b8202e424f",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "C [1]",
        "label": "[1]",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "labels-2",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "aa8c036b1da664e4",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "9cf1e8b8202e424f",
        "order": 7,
        "width": "4",
        "height": "1",
        "name": "C [2]",
        "label": "[2]",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "labels-2",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "27c2014c1b5168c9",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "9cf1e8b8202e424f",
        "order": 5,
        "width": "4",
        "height": "1",
        "name": "C [7]",
        "label": "[7]",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "labels-2",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 850,
        "y": 80,
        "wires": []
    },
    {
        "id": "f474ef0d7758ea53",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "9cf1e8b8202e424f",
        "order": 8,
        "width": "4",
        "height": "1",
        "name": "C [8]",
        "label": "[8]",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "labels-2",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 970,
        "y": 80,
        "wires": []
    },
    {
        "id": "33a97d857928b39b",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "9cf1e8b8202e424f",
        "order": 3,
        "width": "4",
        "height": "2",
        "name": "delta",
        "label": "",
        "format": "{{msg.payload}} mV",
        "layout": "row-center",
        "className": "highlighted font14",
        "style": false,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 490,
        "y": 80,
        "wires": []
    },
    {
        "id": "ccbfa6c1b704e120",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "9cf1e8b8202e424f",
        "order": 1,
        "width": "4",
        "height": "2",
        "name": "BMS",
        "label": "",
        "format": "{{msg.payload}} V",
        "layout": "col-center",
        "className": "highlighted font14",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 890,
        "y": 320,
        "wires": []
    },
    {
        "id": "f2753b6ef5fcf073",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "9cf1e8b8202e424f",
        "order": 6,
        "width": "4",
        "height": "1",
        "name": "V [Pico]",
        "label": "V [P]",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "borders  labels-2",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 660,
        "y": 1380,
        "wires": []
    },
    {
        "id": "8a7fa1e63400ed25",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "dbf247658fd28145",
        "order": 11,
        "width": "4",
        "height": "1",
        "name": "SBMS ex T",
        "label": "Bat [L]",
        "format": "{{msg.payload}} C",
        "layout": "row-spread",
        "className": "highlighted",
        "style": false,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "8e5d9bdb6d9cbeff",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "dbf247658fd28145",
        "order": 12,
        "width": "4",
        "height": "1",
        "name": "Battery T M",
        "label": "Bat [M]",
        "format": "{{msg.payload}} C",
        "layout": "row-spread",
        "className": "highlighted",
        "style": false,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 650,
        "y": 1540,
        "wires": []
    },
    {
        "id": "3689623c2e585ca2",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "9cf1e8b8202e424f",
        "order": 2,
        "width": "4",
        "height": "2",
        "name": "SOC Ah",
        "label": "",
        "format": "{{msg.payload}} Ah",
        "layout": "col-center",
        "className": "highlighted font14",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 660,
        "y": 1340,
        "wires": []
    },
    {
        "id": "a4945469bb04056f",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "9cf1e8b8202e424f",
        "order": 9,
        "width": "4",
        "height": "1",
        "name": "V [Starter]",
        "label": "V [S]",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "borders labels-2",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 660,
        "y": 1420,
        "wires": []
    },
    {
        "id": "64dcfe612e129612",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "dbf247658fd28145",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Inside",
        "format": "{{msg.payload}} C",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 1460,
        "wires": []
    },
    {
        "id": "7e7d0cfc3f89df03",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "dbf247658fd28145",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Outside",
        "format": "{{msg.payload}}C",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 1620,
        "wires": []
    },
    {
        "id": "574333602657a2eb",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "dbf247658fd28145",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Alt.r",
        "format": "{{msg.payload}} C",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 1500,
        "wires": []
    },
    {
        "id": "6437a942b70afd0d",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "dbf247658fd28145",
        "order": 6,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "FridgeC",
        "format": "{{msg.payload}} C",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 1580,
        "wires": []
    },
    {
        "id": "582fb5a3d5765ee7",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "dbf247658fd28145",
        "order": 7,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Fridge",
        "format": "{{msg.payload}} C",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 1660,
        "wires": []
    },
    {
        "id": "db1bc04c995c6b8f",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "ef26f360d17ffbe2",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Fridge",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 940,
        "wires": []
    },
    {
        "id": "9618ffc5c293e7fd",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "ef26f360d17ffbe2",
        "order": 3,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Diesel Htr",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 980,
        "wires": []
    },
    {
        "id": "aa7cd2e4fa8d61d8",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "ef26f360d17ffbe2",
        "order": 4,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Lights&Fans",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 1020,
        "wires": []
    },
    {
        "id": "706fed788259f7cb",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "ef26f360d17ffbe2",
        "order": 6,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Wifi.St.Ls.Si",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 1060,
        "wires": []
    },
    {
        "id": "07a09796c8a390dc",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "ef26f360d17ffbe2",
        "order": 8,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Socket FR",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 1100,
        "wires": []
    },
    {
        "id": "0fae4fc715b1f76e",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "ef26f360d17ffbe2",
        "order": 9,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Socket S",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 1140,
        "wires": []
    },
    {
        "id": "058aa522ddfb7689",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "ef26f360d17ffbe2",
        "order": 11,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Starter Chg",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 1180,
        "wires": []
    },
    {
        "id": "a09f98969c43af34",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "ef26f360d17ffbe2",
        "order": 12,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Alarm & Rly",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 1220,
        "wires": []
    },
    {
        "id": "46dcb4d61b07e941",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "dbf247658fd28145",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Temps:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "titles12",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 40,
        "wires": []
    },
    {
        "id": "67c9b14179bc0ff3",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "ef26f360d17ffbe2",
        "order": 1,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Current Draw",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "titles12",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 40,
        "wires": []
    },
    {
        "id": "8f0fbf72c7de95ef",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "ef26f360d17ffbe2",
        "order": 14,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Inverter",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 820,
        "y": 840,
        "wires": []
    },
    {
        "id": "32065687648f2c7b",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "dbf247658fd28145",
        "order": 13,
        "width": "4",
        "height": "1",
        "name": "SBMS int T",
        "label": "SBMS",
        "format": "{{msg.payload}} C",
        "layout": "row-spread",
        "className": "highlighted",
        "style": false,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "a9ece1e37d66d1c5",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "c4b7ed610a9d4ce8",
        "order": 2,
        "width": "16",
        "height": "1",
        "name": "",
        "label": "Ella Monitoring",
        "format": "",
        "layout": "row-center",
        "className": "titles12",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "feac16edc9dd2f40",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "dbf247658fd28145",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Water",
        "label": "Water",
        "format": "{{msg.payload}} C",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 2020,
        "wires": []
    },
    {
        "id": "38fec8030fa30658",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "dbf247658fd28145",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "R3",
        "label": "R3",
        "format": "{{msg.payload}} C",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 2060,
        "wires": []
    },
    {
        "id": "dc01cd63dd14e37e",
        "type": "ui_text",
        "z": "d8ac5029a2571bab",
        "group": "dbf247658fd28145",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "R4",
        "label": "R4",
        "format": "{{msg.payload}} C",
        "layout": "row-spread",
        "className": "labels",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 2100,
        "wires": []
    },
    {
        "id": "a6565ec3a78fa291",
        "type": "ui_gauge",
        "z": "d8ac5029a2571bab",
        "name": "Battery [BMS]",
        "group": "c4b7ed610a9d4ce8",
        "order": 13,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Battery [BMS]",
        "label": "A",
        "format": "{{value}}",
        "min": "-10",
        "max": "10",
        "colors": [
            "#d21919",
            "#e6e600",
            "#06cb1d"
        ],
        "seg1": "",
        "seg2": "",
        "diff": true,
        "className": "guage",
        "x": 640,
        "y": 720,
        "wires": []
    },
    {
        "id": "1f1601a4b5046939",
        "type": "ui_gauge",
        "z": "d8ac5029a2571bab",
        "name": "PV1",
        "group": "c4b7ed610a9d4ce8",
        "order": 12,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "PV1 [BMS]",
        "label": "A",
        "format": "{{value}}",
        "min": "0",
        "max": "20",
        "colors": [
            "#0bcb1d",
            "#0bcb1d",
            "#0bcb1d"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "guage",
        "x": 670,
        "y": 760,
        "wires": []
    },
    {
        "id": "fe21e448d10546f8",
        "type": "ui_gauge",
        "z": "d8ac5029a2571bab",
        "name": "",
        "group": "c4b7ed610a9d4ce8",
        "order": 11,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Load  [BMS]",
        "label": "A",
        "format": "{{value}}",
        "min": "0",
        "max": "10",
        "colors": [
            "#ca3838",
            "#ca3838",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "guage",
        "x": 1040,
        "y": 500,
        "wires": []
    },
    {
        "id": "c69a85f2090eed40",
        "type": "ui_gauge",
        "z": "d8ac5029a2571bab",
        "name": "",
        "group": "c4b7ed610a9d4ce8",
        "order": 14,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "SOC [BMS]",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "guage",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "150cdf955dc71408",
        "type": "ui_gauge",
        "z": "d8ac5029a2571bab",
        "name": "",
        "group": "c4b7ed610a9d4ce8",
        "order": 15,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Load  [Pico]",
        "label": "A",
        "format": "{{value}}",
        "min": "0",
        "max": "10",
        "colors": [
            "#ca3838",
            "#ca3838",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "guage",
        "x": 990,
        "y": 900,
        "wires": []
    },
    {
        "id": "d814ae838d24c51d",
        "type": "ui_gauge",
        "z": "d8ac5029a2571bab",
        "name": "",
        "group": "c4b7ed610a9d4ce8",
        "order": 17,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Battery [Pico]",
        "label": "A",
        "format": "{{value}}",
        "min": "-10",
        "max": "10",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": true,
        "className": "guage",
        "x": 640,
        "y": 1260,
        "wires": []
    },
    {
        "id": "4658eab7334f87c9",
        "type": "ui_gauge",
        "z": "d8ac5029a2571bab",
        "name": "",
        "group": "c4b7ed610a9d4ce8",
        "order": 18,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "SOC [Pico]",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "guage",
        "x": 650,
        "y": 1300,
        "wires": []
    },
    {
        "id": "39c3f99dee1fc703",
        "type": "ui_gauge",
        "z": "d8ac5029a2571bab",
        "name": "PV2",
        "group": "c4b7ed610a9d4ce8",
        "order": 16,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "PV2 [BMS]",
        "label": "A",
        "format": "{{value}}",
        "min": "0",
        "max": "20",
        "colors": [
            "#0bcb1d",
            "#0bcb1d",
            "#0bcb1d"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "guage2",
        "x": 850,
        "y": 760,
        "wires": []
    },
    {
        "id": "0fcf51329ec86766",
        "type": "ui_gauge",
        "z": "d8ac5029a2571bab",
        "name": "",
        "group": "a266c46f642e3692",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "LPG (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca8816",
            "#cb8817",
            "#cb8817"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "guage2",
        "x": 660,
        "y": 1940,
        "wires": []
    },
    {
        "id": "9a3eedc46f7ac61b",
        "type": "ui_gauge",
        "z": "d8ac5029a2571bab",
        "name": "",
        "group": "a266c46f642e3692",
        "order": 3,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "WATER (l)",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "guage2",
        "x": 660,
        "y": 1980,
        "wires": []
    },
    {
        "id": "3a8d6fe494a91d0f",
        "type": "ui_gauge",
        "z": "d8ac5029a2571bab",
        "name": "",
        "group": "a266c46f642e3692",
        "order": 4,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Pitch",
        "label": "",
        "format": "{{value}}",
        "min": "-5",
        "max": "5",
        "colors": [
            "#be64c8",
            "#be64c8",
            "#be64c8"
        ],
        "seg1": "",
        "seg2": "",
        "diff": true,
        "className": "guage2",
        "x": 670,
        "y": 1860,
        "wires": []
    },
    {
        "id": "bbb29d2cf378c97b",
        "type": "ui_gauge",
        "z": "d8ac5029a2571bab",
        "name": "",
        "group": "a266c46f642e3692",
        "order": 5,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Roll",
        "label": "",
        "format": "{{value}}",
        "min": "-5",
        "max": "5",
        "colors": [
            "#be64c8",
            "#be64c8",
            "#be64c8"
        ],
        "seg1": "",
        "seg2": "",
        "diff": true,
        "className": "guage2",
        "x": 670,
        "y": 1900,
        "wires": []
    },
    {
        "id": "e23198735cd459b0",
        "type": "ui_gauge",
        "z": "d8ac5029a2571bab",
        "name": "Barometer",
        "group": "a266c46f642e3692",
        "order": 1,
        "width": "8",
        "height": "3",
        "gtype": "gage",
        "title": "Barometer",
        "label": "mBar",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#27343a",
            "#5a83af",
            "#0285e8"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "guage2",
        "x": 650,
        "y": 1820,
        "wires": []
    },
    {
        "id": "e255f1e85581554c",
        "type": "ui_chart",
        "z": "d8ac5029a2571bab",
        "d": true,
        "name": "VoltageBars",
        "group": "5b6eade5be302dd2",
        "order": 1,
        "width": "16",
        "height": "6",
        "label": "Cells(V)",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "3.1",
        "ymax": "3.65",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "187cbfd653e8b610",
        "type": "ui_chart",
        "z": "d8ac5029a2571bab",
        "d": true,
        "name": "VoltageTrends",
        "group": "5b6eade5be302dd2",
        "order": 5,
        "width": "15",
        "height": "6",
        "label": "Cells(V)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "3",
        "ymax": "3.6",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1020,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f69b4048ba05aae4",
        "type": "ui_template",
        "z": "d8ac5029a2571bab",
        "group": "c4b7ed610a9d4ce8",
        "name": "CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-theme {\n        min-width: 1080px;\n        max-width: 1080px;\n        padding: 0px auto;\n        margin: 0px auto;\n        background-color: black !important;\n    }\n    .nr-dashboard-cardcontainer {\n        /* groups background */\n        background-color: black !important;\n    }\n    .led .nr-dashboard-template {\n        /* led background */\n        background-color: black !important;\n    }\n    .level {\n        /* level background */\n        background-color: black !important;\n    }\n    .level .nr-dashboard-template {\n        /* level background */\n        background-color: black !important;\n        border-style: solid;\n        border-width: 1px;\n        border-color: #636669;\n     }\n\n\n    .guage {\n        background-color: #263238 !important;\n    }\n    .guage .nr-dashboard-gauge-title {\n        /* guage title font */\n        color: #d7ded9 !important;\n    }\n    .guage .nr-dashboard-gauge text {\n        /* guage value text color */\n        fill: white !important;\n    }\n\n\n    .guage2 {\n        background-color: black !important;\n    }\n    .guage2 .nr-dashboard-gauge-title {\n        /* guage title font */\n        color: white !important;\n    }\n    .guage2 .nr-dashboard-gauge text {\n        /* guage value text color */\n        fill: white !important;\n    }\n\n\n    .highlighted {\n        /* highlight important values */\n        background-color: #aacfe3 !important;\n        color: black !important;\n        }\n    .highlighted .nr-dashboard-gauge text {\n        /* text color */\n        fill: black !important;\n    }\n\n    .nr-dashboard-ui_led {\n    }\n    .nr-dashboard-ui_level {\n    }\n    .nr-dashboard-theme .label {\n    }\n\n    \n    .borders {\n        border-style: solid;\n        border-width: 1px;\n        border-color: #636669;\n    }\n    .font10 {\n        font-size: 10px;\n    }\n    .font14 {\n         font-size: 16px;\n    }\n    .labels {\n        /* label background */\n        background-color: #101826 !important;\n    }\n    .labels .label {\n        /* sets labels font color,\n        needs .label to apply */\n        color: #5d7eba !important;\n    }\n    .labels .value {\n        /* ui text value color */\n        color: white  !important;\n    }\n    .labels-2 {\n    /* label background */\n    background-color: #101826 !important;\n    }\n    .labels-2 .label {\n        /* sets labels font color */\n        color: #818999 !important;    }\n    .labels-2 .value {\n        /* sets labels font color */\n        color: #818999 !important;\n    }\n    .titles12 {\n        /* yellow titles */\n        font-size: 12px;\n        color: yellow !important;\n    }\n    [class*='led_'] {\n        /* led borders */\n        border-style: solid;\n        border-width: 0px;\n        border-color: #6e6363;\n    }\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 130,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b57907435d50b1c2",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "1000",
        "round": false,
        "truncate": false,
        "decimals": "0",
        "decimals2": 0,
        "x": 490,
        "y": 120,
        "wires": [
            [
                "e39c9e70cb2e1447",
                "9258b9e391bc74e1",
                "ee0b4026ef4c019a"
            ]
        ]
    },
    {
        "id": "217873fa719bb1bd",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "1000",
        "round": false,
        "truncate": false,
        "decimals": "0",
        "decimals2": 0,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "aa8c036b1da664e4",
                "ba9de80cc88e0fae",
                "ee0b4026ef4c019a"
            ]
        ]
    },
    {
        "id": "73c80db452dc9466",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "1000",
        "round": false,
        "truncate": false,
        "decimals": "0",
        "decimals2": 0,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "27c2014c1b5168c9",
                "211eee12b320721e",
                "ee0b4026ef4c019a"
            ]
        ]
    },
    {
        "id": "fa2be9ff2385b4e2",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "1000",
        "round": false,
        "truncate": false,
        "decimals": "0",
        "decimals2": 0,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "f474ef0d7758ea53",
                "db3e161ed946a626",
                "ee0b4026ef4c019a"
            ]
        ]
    },
    {
        "id": "829edb1cce5de596",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "1000",
        "round": true,
        "truncate": false,
        "decimals": "1",
        "decimals2": 0,
        "x": 490,
        "y": 720,
        "wires": [
            [
                "a6565ec3a78fa291"
            ]
        ]
    },
    {
        "id": "2cf0a3fb552af68b",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "1000",
        "round": true,
        "truncate": false,
        "decimals": "2",
        "decimals2": 0,
        "x": 490,
        "y": 760,
        "wires": [
            [
                "1f1601a4b5046939",
                "c67d858a7a79182d"
            ]
        ]
    },
    {
        "id": "c7fc0bf79b36695a",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "sub",
        "constant": "",
        "round": false,
        "truncate": false,
        "decimals": 0,
        "decimals2": 0,
        "x": 760,
        "y": 500,
        "wires": [
            [
                "702b9c3e5e0dacd3"
            ]
        ]
    },
    {
        "id": "702b9c3e5e0dacd3",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "1000",
        "round": true,
        "truncate": false,
        "decimals": "1",
        "decimals2": 0,
        "x": 890,
        "y": 500,
        "wires": [
            [
                "fe21e448d10546f8"
            ]
        ]
    },
    {
        "id": "4d4f4d76b7d53e18",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "sum",
        "constant": "",
        "round": true,
        "truncate": false,
        "decimals": "2",
        "decimals2": 0,
        "x": 770,
        "y": 320,
        "wires": [
            [
                "ccbfa6c1b704e120"
            ]
        ]
    },
    {
        "id": "93fb233b624595b1",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "sum",
        "constant": "",
        "round": false,
        "truncate": false,
        "decimals": "0",
        "decimals2": 0,
        "x": 670,
        "y": 900,
        "wires": [
            [
                "c67d858a7a79182d",
                "7c0ed5f242f3404b"
            ]
        ]
    },
    {
        "id": "dc7faa211ad27a36",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "round",
        "constant": "",
        "round": false,
        "truncate": false,
        "decimals": 0,
        "decimals2": 0,
        "x": 460,
        "y": 1300,
        "wires": [
            [
                "4658eab7334f87c9"
            ]
        ]
    },
    {
        "id": "db8968038c4bfc1d",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "round",
        "constant": "",
        "round": false,
        "truncate": false,
        "decimals": 0,
        "decimals2": 0,
        "x": 460,
        "y": 1340,
        "wires": [
            [
                "3689623c2e585ca2"
            ]
        ]
    },
    {
        "id": "1e7d6b556621d389",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "round",
        "constant": "",
        "round": false,
        "truncate": false,
        "decimals": 0,
        "decimals2": 0,
        "x": 500,
        "y": 1580,
        "wires": [
            [
                "6437a942b70afd0d"
            ]
        ]
    },
    {
        "id": "6d5c342fcd87cedd",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "round",
        "constant": "",
        "round": false,
        "truncate": false,
        "decimals": 0,
        "decimals2": 0,
        "x": 480,
        "y": 1820,
        "wires": [
            [
                "e23198735cd459b0"
            ]
        ]
    },
    {
        "id": "3fe7dc15982fa772",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "sum",
        "constant": "",
        "round": true,
        "truncate": false,
        "decimals": "2",
        "decimals2": 0,
        "x": 650,
        "y": 840,
        "wires": [
            [
                "8f0fbf72c7de95ef"
            ]
        ]
    },
    {
        "id": "7c0ed5f242f3404b",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "-1",
        "round": true,
        "truncate": false,
        "decimals": "1",
        "decimals2": 0,
        "x": 810,
        "y": 900,
        "wires": [
            [
                "150cdf955dc71408"
            ]
        ]
    },
    {
        "id": "cbaa8405dda36c48",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "1",
        "round": true,
        "truncate": false,
        "decimals": "1",
        "decimals2": 0,
        "x": 470,
        "y": 1260,
        "wires": [
            [
                "d814ae838d24c51d"
            ]
        ]
    },
    {
        "id": "71d5c7f22d53988d",
        "type": "calculator",
        "z": "d8ac5029a2571bab",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "-1",
        "round": false,
        "truncate": false,
        "decimals": "0",
        "decimals2": 0,
        "x": 390,
        "y": 840,
        "wires": [
            [
                "c67d858a7a79182d"
            ]
        ]
    },
    {
        "id": "aa7898720359fd8f",
        "type": "ui_led",
        "z": "d8ac5029a2571bab",
        "order": 3,
        "group": "c4b7ed610a9d4ce8",
        "width": "4",
        "height": "1",
        "label": "CFET",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#8d8b8b",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "CFET",
        "x": 490,
        "y": 400,
        "wires": []
    },
    {
        "id": "e885d5583e19f3e2",
        "type": "ui_led",
        "z": "d8ac5029a2571bab",
        "order": 7,
        "group": "c4b7ed610a9d4ce8",
        "width": "4",
        "height": "1",
        "label": "DFET",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#888686",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "DFET",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "fdc794c79de3ed08",
        "type": "ui_led",
        "z": "d8ac5029a2571bab",
        "order": 5,
        "group": "c4b7ed610a9d4ce8",
        "width": "4",
        "height": "1",
        "label": "EOC",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#8d8b8b",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "EOC",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "45fd9d0bf5c61206",
        "type": "ui_led",
        "z": "d8ac5029a2571bab",
        "order": 6,
        "group": "c4b7ed610a9d4ce8",
        "width": "4",
        "height": "1",
        "label": "LVC",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#888686",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "LVC",
        "x": 490,
        "y": 520,
        "wires": []
    },
    {
        "id": "53555a0b9beb6a36",
        "type": "ui_led",
        "z": "d8ac5029a2571bab",
        "order": 4,
        "group": "c4b7ed610a9d4ce8",
        "width": "4",
        "height": "1",
        "label": "OVLK",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#888686",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "OVLK",
        "x": 490,
        "y": 560,
        "wires": []
    },
    {
        "id": "52e832967910fcee",
        "type": "ui_led",
        "z": "d8ac5029a2571bab",
        "order": 8,
        "group": "c4b7ed610a9d4ce8",
        "width": "4",
        "height": "1",
        "label": "UVLK",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#888686",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "UVLK",
        "x": 490,
        "y": 600,
        "wires": []
    },
    {
        "id": "620a8e5dfd28fc2b",
        "type": "ui_led",
        "z": "d8ac5029a2571bab",
        "order": 10,
        "group": "c4b7ed610a9d4ce8",
        "width": "4",
        "height": "1",
        "label": "CELF",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#888686",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "CELF",
        "x": 490,
        "y": 640,
        "wires": []
    },
    {
        "id": "1ebb2eaa7f2f8116",
        "type": "ui_led",
        "z": "d8ac5029a2571bab",
        "order": 9,
        "group": "c4b7ed610a9d4ce8",
        "width": "4",
        "height": "1",
        "label": "IOT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#888686",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "IOT",
        "x": 490,
        "y": 680,
        "wires": []
    },
    {
        "id": "19922ed346f074b0",
        "type": "ui_level",
        "z": "d8ac5029a2571bab",
        "d": true,
        "group": "",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "Fridge",
        "label": "Fridge",
        "colorHi": "#e60000",
        "colorWarn": "#ff9903",
        "colorNormal": "#ff9903",
        "colorOff": "#595959",
        "min": 0,
        "max": "-5",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": "1",
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#ffffff",
        "fontLabel": "1",
        "fontValue": "1",
        "fontSmall": "0.65",
        "colorFromTheme": false,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 810,
        "y": 940,
        "wires": []
    },
    {
        "id": "bd4296d2f3b2a4fb",
        "type": "ui_level",
        "z": "d8ac5029a2571bab",
        "d": true,
        "group": "",
        "order": 3,
        "width": "5",
        "height": "1",
        "name": "Heater",
        "label": "Heater",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff9903",
        "colorOff": "#595959",
        "min": 0,
        "max": "-5",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": "1",
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "10",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 810,
        "y": 980,
        "wires": []
    },
    {
        "id": "3daa95e5be1791ef",
        "type": "ui_level",
        "z": "d8ac5029a2571bab",
        "d": true,
        "group": "",
        "order": 4,
        "width": "5",
        "height": "1",
        "name": "Lights & F",
        "label": "Lights & F",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff9903",
        "colorOff": "#595959",
        "min": 0,
        "max": "-5",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": "1",
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "10",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 820,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2fc44102c2ef0542",
        "type": "ui_level",
        "z": "d8ac5029a2571bab",
        "d": true,
        "group": "",
        "order": 6,
        "width": "5",
        "height": "1",
        "name": "WiFi.St.L.Si",
        "label": "WiFi.St.L.Si",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff9903",
        "colorOff": "#595959",
        "min": 0,
        "max": "-5",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": "1",
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "10",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 830,
        "y": 1060,
        "wires": []
    },
    {
        "id": "10fdcf9284ed9a67",
        "type": "ui_level",
        "z": "d8ac5029a2571bab",
        "d": true,
        "group": "",
        "order": 8,
        "width": "5",
        "height": "1",
        "name": "12V FR",
        "label": "12V FR",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff9903",
        "colorOff": "#595959",
        "min": 0,
        "max": "-5",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": "1",
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "10",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 820,
        "y": 1100,
        "wires": []
    },
    {
        "id": "60d43242e8853c25",
        "type": "ui_level",
        "z": "d8ac5029a2571bab",
        "d": true,
        "group": "",
        "order": 9,
        "width": "5",
        "height": "1",
        "name": "12V S",
        "label": "12V S",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff9903",
        "colorOff": "#595959",
        "min": 0,
        "max": "-5",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": "1",
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "10",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 810,
        "y": 1140,
        "wires": []
    },
    {
        "id": "5a4c0ba414af678e",
        "type": "ui_level",
        "z": "d8ac5029a2571bab",
        "d": true,
        "group": "",
        "order": 11,
        "width": "5",
        "height": "1",
        "name": "Starter C",
        "label": "Starter C",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff9903",
        "colorOff": "#595959",
        "min": 0,
        "max": "-5",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": "1",
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "10",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 820,
        "y": 1180,
        "wires": []
    },
    {
        "id": "276db3c292367a63",
        "type": "ui_level",
        "z": "d8ac5029a2571bab",
        "d": true,
        "group": "",
        "order": 12,
        "width": "5",
        "height": "1",
        "name": "Alm & Rly",
        "label": "Alm & Rly",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff9903",
        "colorOff": "#595959",
        "min": 0,
        "max": "-5",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": "1",
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "10",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 820,
        "y": 1220,
        "wires": []
    },
    {
        "id": "ece48ae37442a944",
        "type": "ui_level",
        "z": "d8ac5029a2571bab",
        "d": true,
        "group": "",
        "order": 14,
        "width": "5",
        "height": "1",
        "name": "Inverter",
        "label": "Inverter",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff9903",
        "colorOff": "#595959",
        "min": 0,
        "max": "-100",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "1",
        "animations": "soft",
        "shape": "1",
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "10",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 820,
        "y": 800,
        "wires": []
    }
]